:global {
	$color-main: #F6F6FA;
	$color-font-main: cornflowerblue;

	html, body {
		font-size: 16pt;
		font-family: 'Roboto', Arial, sans-serif;
		color: $color-font-main;
	}

	html {
		display: flex;
		justify-content: center;

		body {
			@media (max-width: 992px) {
				width: 100%;
			}
			width: 90%;
		}
	}

	button {
		cursor: pointer;
		border-radius: 2rem;
		border: 1px solid $color-font-main;
		background-color: transparent;
		color: $color-font-main;

		&:focus {
			outline: none;
		}
	}
}